
.cart-containe{
    display: flex;
    flex-direction: column;
    padding: 10px ;
    
}

.cart-product{
    display: flex;
    gap: 5px;
    align-items: center;
    

}
.cart-product img{
    width: 100px;
    height: 100px;
}